astropy==4.2
attrs==20.3.0
autopep8==1.5.4
bibtexparser==1.2.0
certifi==2020.12.5
chardet==4.0.0
coverage==3.7.1
coveralls==1.1
docopt==0.6.2
future==0.18.2
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
latextree==0.2
lxml==4.6.2
MarkupSafe==1.1.1
numpy==1.19.5
packaging==20.9
pandas==1.2.1
pluggy==0.13.1
pptree==2.0
py==1.10.0
pycodestyle==2.6.0
pyerfa==1.7.1.1
pylatexenc==2.8
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.5.1
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
tex2py==0.0.5
TexSoup==0.1.4
toml==0.10.2
urllib3==1.26.2
xmltodict==0.12.0
pymongo~=3.11.3